.product-cont {
	width: 45%;
	display: flex;
	flex-flow: row wrap;
	padding: 1rem 0;
	position: relative;

	.product-img {
		width: 100%;
		height: 200px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		transition: all 0.4s;
	}

	.product-info {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding-top: 0.7rem;
	}

	.product-price {
		min-width: 40px;
	}

	.custom-btn {
		width: 80%;
		font-size: 0.8rem;
		position: absolute;
		top: 58%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		display: none;

		&:hover,
		&:focus {
			background-color: #ceffdf;
			color: black;
		}
	}

	&:hover,
	&:focus {
		.product-img {
			opacity: 0.7;
		}

		.custom-btn {
			display: block;
		}
	}
}

@media screen and (min-width: 520px) {
	.product-cont {
		.product-img {
			height: 250px;
		}
	}
}

@media screen and (min-width: 768px) {
	.product-cont {
		width: 23%;

		.product-info {
			flex-flow: row wrap;
			justify-content: center;

			.product-name {
				width: 100%;
				text-align: center;
				margin-bottom: 0.5rem;
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.product-cont {
		.product-info {
			flex-flow: row nowrap;
			justify-content: space-between;

			.product-name {
				width: unset;
				text-align: left;
				margin-bottom: 0;
			}

			.product-price {
				min-width: 55px;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.product-cont {
		.product-img {
			height: 350px;
		}

		.custom-btn {
			top: 70%;
		}
	}
}
