.section-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;

	.menu-container {
		width: 95%;
		max-width: 450px;
		height: 240px;
		margin: 1rem auto;
		overflow: hidden;
		outline: 2.5px solid #242222;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		position: relative;

		.bg-image {
			height: 100%;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			transition: all 2s;
		}

		.menu-text {
			position: absolute;
			padding: 1.3rem;
			border: 2px solid black;
			background-color: #f1f1f183;
			text-align: center;
			transition: all 1s;

			h1 {
				margin-bottom: 0.3rem;
			}
		}

		&:hover,
		&:focus {
			cursor: pointer;
			.bg-image {
				transform: scale(1.2);
			}
			.menu-text {
				background-color: #f1f1f1;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.section-container {
		.menu-container {
			width: 45%;
			max-width: 100%;
		}
		:nth-child(5) {
			width: 95%;
			height: 300px;
		}
	}
}

@media screen and (min-width: 992px) {
	.section-container {
		.menu-container {
			width: 30%;
		}
		:nth-child(4),
		:nth-child(5) {
			width: 47%;
			height: 320px;
		}
	}
}
