.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0.5rem;

	.logo-cont {
		width: 50%;
		max-width: 55px;
	}

	.nav-links {
		width: 50%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;

		a {
			margin-left: 2rem;
			padding: 0.3rem 0;
		}

		a:after {
			content: "";
			display: block;
			margin: auto;
			height: 2px;
			width: 0px;
			background: transparent;
			transition: all 0.5s ease;
		}
		a:hover:after {
			width: 100%;
			background: black;
		}
	}
}
