.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0.1rem;
	position: relative;

	.logo-cont {
		max-width: 55px;
	}

	.nav-links {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: center;

		.nav-link {
			margin-left: 2rem;
			padding: 0.3rem 0;
			cursor: pointer;
			background: none;
		}

		.nav-link:after {
			content: "";
			display: block;
			margin: auto;
			height: 2px;
			width: 0px;
			background: transparent;
			transition: all 0.5s ease;
		}
		.nav-link:hover:after {
			width: 100%;
			background: black;
		}
	}
}
