.checkout-page {
	width: 100%;
	max-width: 1000px;
	margin: 1rem auto 2rem auto;

	.headers {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 1rem 0;
		text-align: center;

		p:nth-child(1) {
			flex-basis: 20%;
		}
		p:nth-child(2) {
			flex-basis: 30%;
			padding-left: 5%;
		}
		p:nth-child(3) {
			flex-basis: 23%;
			text-align: center;
		}
		p:nth-child(4) {
			flex-basis: 18%;
			text-align: center;
		}
		p:nth-child(5) {
			display: none;
			flex-basis: 0%;
			text-align: center;
		}
	}

	.items-cont {
		padding: 0.5rem 0;
		border-top: 2px solid #cacaca;
		border-bottom: 2px solid #cacaca;
	}

	.total-price {
		width: 100%;
		text-align: right;
		text-transform: uppercase;
		margin-top: 1.5rem;

		h1 {
			font-weight: 300;
		}
	}

	.stripe-mssg {
		width: 100%;
		padding: 1rem 0;
		text-align: right;
		color: red;

		p {
			font-weight: 400;
			padding: 0.4rem 0;
		}

		span {
			color: green;
		}

		button {
			margin-top: 1rem;
			width: 50%;
		}
	}
}

@media screen and (min-width: 768px) {
	.checkout-page .headers {
		text-align: left;

		p:nth-child(5) {
			flex-basis: 18%;
			display: block;
		}
	}
}
