.cart-item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	margin: 1rem 0;

	.item-img {
		width: 25%;
	}

	.item-info {
		width: 75%;
		margin-left: 1rem;

		.item-name {
			margin-bottom: 0.5rem;
			font-weight: 400;
		}
		.item-quantity {
			font-weight: 400;
		}
	}
}
